page-dashboard {

  .scroll-content{
    overflow: hidden;
  }

  .icon {
    color: rgb(110, 110, 110);
  }

  .icon-menu {
    color: white;
  }

  .card-background-page {

    background-color: rgb(242, 242, 242);    

    .home-hello {
      position: relative;

      .hello-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        border: 0;
        background: rgba(255, 255, 255, 0.6);
        padding: 10px;
      }

      h1 {
        color: rgb(110, 110, 110);
        // color: rgb(250,151,0);
        margin-top: 0;        
      }

      p {
        font-size: 16px;
        color: rgb(110, 110, 110);
        // color: rgb(250,151,0);
      }
    }

    .tile {      
      float: left;
      margin-top: 20px;
      
      .item {
        padding: 0;
      }

      .item-inner {
        padding: 0;
      }

      h2 {
        color: rgb(110, 110, 110);
        // color: rgb(250,151,0);
        text-align: center;
      }

      h1 {
        color: rgb(110, 110, 110);
        // color: rgb(250,151,0);
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}
