page-modal-manage-expense {

    .no-scroll .scroll-content{
        overflow: hidden;
    }          
      
    .full-card {
        height: 50% !important;
        width: 50% !important;
        margin-left: 74px;
    }
    
}
